*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 36%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box-heading h1{
    font-size: 2.5rem;
    display: flex;
}

.box-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.underline{
    height: 0.25rem;
    width: 5rem;
    background-color: hsl(205, 72%, 37%);  
}

.box-content{
    width: 600px;
    min-height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
}

.review-name{
    margin-top: 10px;
    letter-spacing: 5px;
    font-weight: 500;
}

.review-job{
    margin-top: 5px;
    color: hsl(205, 78%, 60%);
}

.review-description{
    margin-top: 10px;
    font-size: 1.2rem;
    color: hsl(210, 22%, 49%);
    min-height: 7.5rem;
}

.review-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.navigation{
    margin-top: 10rem;
    position: relative;
    
}

.fa-solid{
    color: hsl(205, 89%, 70%);
    font-size: 25px;
    margin: 0 5px;
    cursor: pointer;
}

.randomBtn{
    margin-top: 20px;
    padding: 4px 8px;
    border-radius: 8px;
    color: hsl(205, 78%, 60%);
    border-color: hsl(205, 78%, 60%);
    cursor: pointer;
    box-shadow: none;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.randomBtn:hover{
    background-color: hsl(205, 63%, 48%);
    color: white;
    border-color: hsl(205, 63%, 48%);
}


@media screen and (max-width: 596px){
    .box-content{
        width: 100%;
    }

    .review-description{
        
        min-height: 10rem;
    }
}